<div id="<%= dom_id conta_corrente %>">
  <p>
    <strong>Saldo:</strong>
    <%= conta_corrente.saldo %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= conta_corrente.cliente_id %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= conta_corrente.numero %>
  </p>

  <p>
    <strong>Agencia:</strong>
    <%= conta_corrente.agencia %>
  </p>

</div>
