<%= form_with(model: conta_corrente) do |form| %>
  <% if conta_corrente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(conta_corrente.errors.count, "error") %> prohibited this conta_corrente from being saved:</h2>

      <ul>
        <% conta_corrente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :saldo, style: "display: block" %>
    <%= form.text_field :saldo %>
  </div>

  <div>
    <%= form.label :cliente_id, style: "display: block" %>
    <%= form.text_field :cliente_id %>
  </div>

  <div>
    <%= form.label :numero, style: "display: block" %>
    <%= form.text_field :numero %>
  </div>

  <div>
    <%= form.label :agencia, style: "display: block" %>
    <%= form.text_field :agencia %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
