<p style="color: green"><%= notice %></p>

<%= render @conta_corrente %>

<div>
  <%= link_to "Edit this conta corrente", edit_conta_corrente_path(@conta_corrente) %> |
  <%= link_to "Back to conta correntes", conta_correntes_path %>

  <%= button_to "Destroy this conta corrente", @conta_corrente, method: :delete %>
</div>
