<nav class="navbar navbar-inverse navbar-static-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#expanded-menu" aria-expanded=" false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Cliente', '/clientes', class: 'navbar-brand' %>
      <%= link_to 'Conta', '#', class: 'navbar-brand' %>
      <%= link_to 'Saque', '#', class: 'navbar-brand' %>
      <%= link_to 'Depósito', '#', class: 'navbar-brand' %>
      <%= link_to 'Transferência', '#', class: 'navbar-brand' %>
      <%= link_to 'Extrato', '#', class: 'navbar-brand' %>



    </div>


  </div>

</nav>